.container,
body {
  box-sizing: border-box;
}

body {
  padding: 0;
  font-weight: 400;
  font-family: "Open Sans", "Arial", sans-serif;
  background-color: #f9fdff;
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.site-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.user-nav {
  margin: 0 10px 0 0;
  padding: 0;
  list-style: none;
}

.page-footer {
  background-color: #ffffff;
}