.container,
body {
    box-sizing: border-box;
}

body {
    padding: 0;
    font-weight: 400;
    font-family: "Open Sans", "Arial", sans-serif;
    background-color: #f9fdff;
    margin: 0;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 1220px;
    min-width: 320px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}

.page-main h1,
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    font-size: 1px;
    white-space: nowrap;
    border: 0;
    clip: rect(0, 0, 0, 0);
    clip-path: inset(100%);
}

.page-header {
    overflow: hidden;
}

.page-header__wrapper {
    display: flex;
    padding-top: 85px;
    position: relative;
}

.page-header__site-nav {
    flex-grow: 1;
    margin-left: 140px;
    padding-top: 5px;
}

.site-nav__list {
    display: flex;
    flex-wrap: wrap;
    width: 380px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.site-nav__item {
    width: 33.3%;
}

.user-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin: 0 10px 0 0;
    padding: 0;
    list-style: none;
}

.product--slider,
.product--slider .product__info,
.product--slider .product__info p {
    display: flex;
}

.product--slider {
    min-height: 628px;
    box-sizing: border-box;
    padding-top: 7px;
}

.product--slider .product__info {
    position: relative;
    flex-direction: column;
    flex-shrink: 1;
    width: 566px;
}

.product--new,
.product--sale {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.product--new .product__image {
    width: 100%;
    height: 201px;
    overflow: hidden;
}

.product--sale .product__image {
    width: 100%;
    height: 255px;
    overflow: hidden;
}

.product--sale .product__price-wrapper,
.product--sale h3 {
    width: 100%;
    box-sizing: border-box;
}

.product--sale .product__price-wrapper {
    display: flex;
    margin: 0 0 0 25px;
}

.page-footer {
    background-color: #ffffff;
}

.page-footer__wrapper {
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 97px;
}

.page-footer__logo,
.page-footer__navigation,
.page-footer__wrapper {
    box-sizing: border-box;
}

.page-footer__navigation-list {
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.page-footer__contacts {
    display: flex;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 10px;
    box-sizing: border-box;
}

.new {
    background-color: #f9fdff;
}

.new__title {
    display: flex;
    align-items: center;
    width: calc((100% - 10px)/4);
    height: 289px;
  }

.new__item,
.new__list {
    display: flex;
    box-sizing: border-box;
}

.new__list {
    flex-wrap: wrap;
    padding-right: calc((100% - 45px)/2);
    list-style: none;
    width: 100%;
}

.new__item {
    width: 50%;
    min-height: 289px;
    padding-right: 30px;
    padding-bottom: 37px;
    flex-shrink: 0;
}

.new__item:first-child {
    width: 100%;
}

.new__item--big {
    padding-right: 0;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: calc((100% - 45px)/2);
}

.new__item--big .product__image {
    height: 516px;
}

.review__wrapper {
    width: 866px;
    margin: 0 auto;
}

.review__item,
.review__item .review__author {
    display: flex;
    flex-direction: column;
}

.review__item,
.review__item .review__image {
    align-items: center;
}

.review__item .review__image {
    display: flex;
    justify-content: center;
    margin-bottom: 23px;
}

.sale__wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 73px;
    padding-left: 11px;
    padding-right: 1px;
}

.sale__tab-controls {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0;
    list-style: none;
    margin: 0 0 0 19px;
}